$bg-primary: white;
$bg-secondary: #eb008b;
$bg-tertiary: black;
$color-primary: #333333;
$color-secondary: #eb008b;
$color-tertiary: #652d90;
$color-white: #ffffff;
$font-size-primary: 16px;
$font-size-secondary: 20px;
$font-size-header: 30px;
$font-brand: normal small-caps bold 40px/100% 'Dokdo';
$font-primary: normal normal normal 16px/100% 'Roboto';
